/* .footer {
  background: #212429;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  left: 0;
   bottom: 0;
   width: 100%;
  color: whitesmoke;
  margin-top: 10px;
}

.footer-info {
  display: flex;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  flex-wrap: wrap;
}

.footer-service {
  display: flex;
  flex: 3;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  flex-wrap: wrap;
  padding-right: 3px;
}

.footer-address {
  display: flex;
  height: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  flex: 1;
  flex-wrap: wrap;
  color: white;
}

.social-media-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.social-media-img {
  display: flex;
  border-radius: 50%;
}

.social-media-img img {
  width: 30px;
}

.footer-privacy {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.privacy-law {
  display: flex;
  align-items: center;
  width: 100%;
  flex: 1;
  font-size: 14px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  padding-right: 4px;
  flex: 1;
}

.footer-links a {
  color: #ffeddd;
  text-decoration: none;
  font-size: 13px;
}

.footer-links a:hover {
  text-decoration: underline;
} */