/* .home-header{
   display: flex;
   flex: end;
   /* background: green; *
   color: white;
   padding: 10px;
   background: #ccc;
   box-shadow: 5px 8px 10px rgba(0,0,5,0.15);

}
.home-nav{
   padding: 10px;
   margin-left: auto;
}

.home-nav a{
   color: #333;
   margin-left: 20px;
   text-decoration: none;
} */