 /* body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f9fafc;
} 

.login{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 50%;
  border: none;
  border-radius: 10px;
  padding: 10px 0;  
  margin-left: auto;
  margin-right: auto;
  background: white;
  position: sticky;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1);
}

 .logn h2 {
  color: gray;
  text-align: center;
  /* margin-left: 20px; 
}
.login-message{
  background: #ccc;
  color: white;
  width: 400px;
}

.login-btn, .login-input input {
  background:white;
  width: 400px;
  margin-top: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.login-input input {
  border: 1px solid #ccc;
}
.login-btn{
  background: hsl(222, 64%, 35%);
  color: whitesmoke;
  cursor: pointer;
  width: 420px;
  margin-bottom: 20px;
  margin-top: 20px;
}

button:hover {
  background: rgb(30, 70, 50);
} */
